@import url("reset.css");

body {
	font-family: Tahoma, MS UI Gothic, Meiryo UI, sans-serif;
	font-size: 1.1em;
	line-height: 1.2;
	background: cornflowerblue;
	color: #f9f97a;
}

header {
	text-align: center;
	margin: 0 0 1em 0;
}

header h1 {
	border: none;
}

header h1 a {
	background: url("http://i.imgur.com/mjisKeD.png") no-repeat;
	background-size: contain;
	filter: drop-shadow(0 0 1px lightyellow);
	max-width: 565px;
	height: 138px; /* 128px + 10px extra spacing */
	display: block;
	margin: auto;

	font-size: 0;
	color: transparent;
}

header h2 a {
	color: #f9f97a;
}

main {
	margin: auto;
	max-width: 1800px;
}

section {
	background: rgba(255,255,255,0.68);
	color: #544409;
	width: 45%; /* fallback */
	width: calc(50% - 2.5em);
	padding: 1em;
	text-shadow: 0 0 1px rgba(255,255,255,0.5); /* add faint shadow to improve text legibility */
}

section:lang(ja) {
	float: left;
}

section:lang(en) {
	float: right;
}

h1, h2, h3, h4, h5, h6 {
	background: rgba(255,255,255,0.3);
}

h1 {
	font-size: 2em;
	border-bottom: .2em solid yellowgreen;
}

h2 {
	font-size: 1.75em;
	border-bottom: .1em solid #f9f97a;
}

p {
	margin: 1em 0;
	line-height: 1.6;
}

p:empty {
	height: 1em;
	padding-bottom: 1em; /* margin collapsing */
}

figcaption {
	margin: 0 0 1em 0;
	line-height: 1.6;
}

a {
	color: mediumvioletred;
	text-decoration: none;
}

a:hover {
	color: hotpink;
}

b {
	font-weight: bold;
	color: mediumseagreen;
}

cite, var {
	font-style: italic;
}

img {
	max-width: 100%;
}

mark {
	background: lightpink;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

/* table of contents */

nav {
	position: fixed;
	background: rgba(255,255,255,0.9);
	color: palevioletred;
	padding: .3em;
	bottom: 0;
	z-index: 1; /* honestly not sure why i need this */
}

nav:lang(ja) {
	border-radius: 0 0.5em 0 0;
	left: 0;
}

nav:lang(en) {
	border-radius: 0.5em 0 0 0;
	right: 0;
}

nav h2 {
	background: none;
	border: none;
	font-size: 1em;
}

nav ul {
	display: none;
}

nav:hover h2 {
	padding: 0 0 0.1em 0;
	border-bottom: 1px solid palevioletred;
}

nav:hover ul {
	display: unset;
}

nav .toc__level--2 {
	font-size: 85%;
	margin-left: 0.75em;
}

/* paragraph numbering */

section {
	position: relative;
}

section .p__number {
	display: block;
	position: absolute;
	color: darkseagreen;
	text-shadow: 0 0 1px lightyellow; /* add faint shadow to improve text legibility */
}

section .p__number:hover {
	color: palevioletred;
}

section:lang(ja) .p__number {
	right: 0;
	border-left: 1px solid lightyellow;
	margin-right: .1em;
}

section:lang(en) .p__number {
	left: 0;
	border-right: 1px solid lightyellow;
	margin-left: .1em;
}

section:lang(ja) p {
	margin-right: .75em;
}

section:lang(en) p {
	margin-left: .75em;
}

section .p--target {
	background: rgba(255, 255, 0, 0.7);
}

/* viewport-sensitive */

@media(max-width: 840px) {
	body {
		font-size: 2vw;
	}
	
	header h1 a {
		height: 18vw;
	}
}