@import url("reset.css");

body {
	font-family: Tahoma, MS UI Gothic, Meiryo UI, sans-serif;
	font-size: 1.1em;
	line-height: 1.2;
	background: cornflowerblue;
	color: #f9f97a;
}

header {
	text-align: center;
	margin: 0 0 1em 0;
}

header h1 {
	border: none;
}

header h1 a {
	background: url("http://i.imgur.com/mjisKeD.png") no-repeat;
	filter: drop-shadow(0 0 1px lightyellow);
	width: 565px;
	height: 138px; /* 128px + 10px extra spacing */
	display: block;
	margin: auto;

	font-size: 0;
	color: transparent;
}

nav {
	position: fixed;
	bottom: 0;
	right: 0;
	background: rgba(255,255,255,0.8);
	color: palevioletred;
	border-radius: 0.5em 0 0 0;
	padding: .3em;
}

nav h2 {
	background: none;
	border: none;
	font-size: 1em;
}

nav ul {
	display: none;
}

nav:hover h2 {
	padding: 0 0 0.1em 0;
	border-bottom: 1px solid palevioletred;
}

nav:hover ul {
	display: unset;
}

main {
	margin: auto;
	max-width: 1800px;
}

section {
	background: rgba(255,255,255,0.68);
	color: #544409;
	width: 45%; /* fallback */
	width: calc(50% - 2.5em);
	padding: 1em;
}

section:lang(ja) {
	float: left;
}

section:lang(en) {
	float: right;
}

h1, h2, h3, h4, h5, h6 {
	background: rgba(255,255,255,0.3);
}

h1 {
	font-size: 2em;
	border-bottom: .2em solid yellowgreen;
}

h2 {
	font-size: 1.75em;
	border-bottom: .1em solid #f9f97a;
}

p {
	margin: 1em 0;
	line-height: 1.6;
}

figcaption {
	margin: 0 0 1em 0;
	line-height: 1.6;
}

a {
	color: #f9f97a;
	text-decoration: none;
}

a:hover {
	color: white;
}

b {
	font-weight: bold;
	color: mediumseagreen;
}

cite, var {
	font-style: italic;
}

img {
	max-width: 100%;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}